# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data / models
data/*
!data/.gitkeep
models/*
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
